* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
img {
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  position: absolute;
  width: 100%;
  padding: 25px;
  z-index: 10;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: "";
  width: calc(100% - 30px);
  bottom: -20px;
  position: absolute;
  border: 1px solid gray;
}
header .container nav ul {
  display: flex;
}
header .container nav ul li .home {
  color: #19c8fa;
  position: relative;
}
header .container nav ul li .home::before {
  content: "";
  position: absolute;
  top: 49px;
  right: 8px;
  z-index: 4;
  width: 80px;
  border: 1px solid;
}
header .container nav ul li a {
  display: block;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
  padding: 0 25px;
}
header .container nav ul li a:hover {
  color: #19c8fa;
  transition: 0.7s;
}
@media (max-width: 991px) {
  header .container nav {
    display: none;
  }
}
.hero * {
  z-index: 100;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/landing.jpg);
  background-position: center;
  background-size: cover;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.614);
}
.hero .hello_world{
width: 50%;
height: 100vh;
display: flex;
color: #ffffff;
align-items: center;
}