* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
img{
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header{
  position: absolute;
  width: 100%;
  padding: 25px;

}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after{
  content: "";
  width: calc(100% - 30px);
  bottom: -20px;
  position: absolute;
  border: 1px solid gray;
}
header .container nav ul {
  display: flex;
}
header .container nav ul li {
  text-transform: capitalize;
  color: white;
  font-weight: 600;
  padding: 0 25px;

}
@media (max-width:991px) {
  header .container nav{
    display: none;
  }
}
.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/landing.jpg);
  background-position: center;
  background-size: cover;
}